<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass fa-xl" style="color: rgb(239, 63, 63); "></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
        <a class="nav-link" href="/listings/new">Add new listing</a>
        <div class="search">
          <form class="d-flex" role="search" action="/listings"  method="get">
                <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </div>
      </div> 
    </div>
    <div  class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars fa-2xl"></i>
          </a>
          <ul class="dropdown-menu">
            <%if(!curruser){%>
            <li style="text-align: center;"><a class="dropdown-item" href="/user/login">Login</a></li>
            <li style="text-align: center;"><a class="dropdown-item" href="/user/signup"> Signup</a></li>
            <%}%>
            <%if(curruser){%>
            <li style="text-align: center;"><a class="dropdown-item" href="/user/logout" >Logout</a></li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>